*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    background: #878878;
}

.container{
    width: 50%;
    min-height: 300px;
    background: #0c0c0c;
    color: #fff;
    border: 5px solid #ddd;

}

.container h1{
    font-size: 45px;
    border-bottom: 5px solid #ddd;
    color: #ccc;

}

.container button{
    padding: 10px 30px;
    margin-top: 20px;

}

.container .main p{
    padding: 20px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bolder;

}

.container .main span{
color: aqua;
font-size: 18px;
}